.beautiful.alert {
    border-width: 1px;
    background-image: none;
    border-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}

.alert.alert-danger.beautiful {
    background-color: #fbe1e3;
    border-color: #fbe1e3;
    color: #e73d4a;
}

#promo-notifications {
    background: transparent;
    font-size: 18px;
    width: 100%;
    font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

#promo-notifications ul {
    width: 100%;
    height: 35px;
    position: relative;
    overflow: hidden;
}

#promo-notifications li {
    width: 980px;
    line-height: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: center;
    list-style: none;
}